In [2]:
import pandas as pd


df = pd.read_csv("Data.csv",index_col=0)
df.head()

   LoginDate  LoginTime Timing  StudentsId
0  3/23/2021         12     am        3574
1  3/23/2021         12     am        3574
2  3/23/2021         12     am        2512
3  3/23/2021         12     am        2692
4  3/23/2021         12     am        3064

In [3]:
for i in range(len(df)):
    if df.Timing[i] == 'pm':
        df.LoginTime[i]=df.LoginTime[i]+int(12)
        if df.LoginTime[i] == int(24):
            df.LoginTime[i]=12
    
    elif df.Timing[i] == 'am' and df.LoginTime[i] == int(12):
        df.LoginTime[i]=0

df.head()

/tmp/ipykernel_280/2118635905.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.LoginTime[i]=0
/tmp/ipykernel_280/2118635905.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.LoginTime[i]=df.LoginTime[i]+int(12)
/tmp/ipykernel_280/2118635905.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.LoginTime[i]=12

   LoginDate  LoginTime Timing  StudentsId
0  3/23/2021          0     am        3574
1  3/23/2021          0     am        3574
2  3/23/2021          0     am        2512
3  3/23/2021          0     am        2692
4  3/23/2021          0     am        3064

In [4]:
df["Date_Time"] = df["LoginDate"]+" "+df["LoginTime"].astype(str)+":00"
df.head()

   LoginDate  LoginTime Timing  StudentsId       Date_Time
0  3/23/2021          0     am        3574  3/23/2021 0:00
1  3/23/2021          0     am        3574  3/23/2021 0:00
2  3/23/2021          0     am        2512  3/23/2021 0:00
3  3/23/2021          0     am        2692  3/23/2021 0:00
4  3/23/2021          0     am        3064  3/23/2021 0:00

In [5]:
del df['LoginDate']
del df['LoginTime']
del df['Timing']

In [6]:
df["Date_Time"] = pd.to_datetime(df["Date_Time"])

In [11]:
cnt = df.groupby(['Date_Time']).count()
cnt.columns=["Count"]
cnt.head()

                     Count
Date_Time
2020-09-21 02:00:00     22
2020-09-21 04:00:00      3
2020-09-21 05:00:00      2
2020-09-21 06:00:00      3
2020-09-21 07:00:00      3

In [12]:
cnt.to_csv("rnn_data.csv")